

header{
    background-color: #14831f;
    display: flex;
    flex-direction: row;
}

ul.accordion{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    background-color: rgb(14, 160, 31);

}

nav ul li {
    padding: 5px;
    margin: 9px;
    list-style-type: none;
    display: inline;    
}

header>h1>a{
    text-decoration: none;
    color: white;
    margin: 50px;
}

nav>ul{
    position: relative;
    top: 15px;
    left: 60%;
    float: right;
    list-style: none;
    text-align: center;
}

nav>ul>li>a{
    color: white;
    text-decoration: none;
}

.accordion-panel {
    display: none;
    padding: 50px;
    padding-bottom: 20px;
    background-color: rgb(27, 142, 48);
    border: 1px solid rgb(255, 255, 255);
    font-size: 24px;
}

button.accordion-control{
    background-color: #eee;
    color: rgb(15, 122, 47);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion-control:hover {
    background-color: #ccc;
}
.active:after {
    content: "\2212";
}

button.accordion-control:after {
    content: '\002B';
    color: rgb(23, 107, 38);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }


ul.tab-list {
    list-style: none;
}

.tab-panel>img{
    width:50%;
    height: auto;
}

  ul.tab-list li a{
      text-decoration: none;
      color: white;
  }
  ul.tab-list li.active {
    background-color: rgb(9, 166, 35);
    color: #ffffff;
}
  ul.tab-list li.active a {
    color: rgb(255, 255, 255);
  }

  ul.tab-list li {
    background-color: rgb(24, 142, 56);
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
      }

  .tab-panel {
    margin: 40px;
    display: none;
    width: 90.69%;
    height: auto;
    padding: 50px;
  }
  .tab-panel.active {
    display: flex;
    justify-content: center;
  }
  