#photo-viewer {
  display: none;
}
#photo-viewer .photo-box {
  position: relative;
  display: block;
  width: 800px;
  height: 450px;
  margin-bottom: 30px;
}
#photo-viewer .photo-box.is-loading::after {
  content: "Loading...";
  position: absolute;
  z-index: 10;
  color: #000;
  top: calc(50% - 20px);
  left: calc(50% - 50px);
}
#photo-viewer .photo-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 800px;
  height: 450px;
  border: 3px solid brown;
}
#photo-viewer .thumbnail-anchor img {
  width: 80px;
  height: 45px;
  border: 1px solid brown;
}
#photo-viewer .thumbnail-anchor img.active {
  margin: 0px;
}
